.not-found-container {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.not-found-container h1 {
    font-size: 4rem;
    color: #ff4500; /* Orange color for the 404 text */
    margin-bottom: 10px;
}

.not-found-container p {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.not-found-container a {
    text-decoration: none;
    color: #007bff; /* Blue color for the "Go to Home" link */
    font-weight: bold;
}

.not-found-container a:hover {
    text-decoration: underline;
}