header {
    background-color: #06020b;
    color: white;
    padding: 10px 0;
    font-size: 18px;
    box-shadow: 0px -1px 25px 0px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px -1px 25px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -1px 25px 0px rgba(0,0,0,0.59);
    position: relative;
  }
  
  /* Navigation styles */
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  /* Styling for the navigation links */
  nav ul li:hover {
    color: #FF79C6; /* Change color on hover */
    font-weight: bold;
  }
  .user {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
  }